* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, rgb(43, 163, 43), rgb(255, 252, 252));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  background: white;
  padding: 25px;
  width: 370px;
  border-radius: 20px;
  box-shadow: 10px 15px 15px rgba(15, 26, 23, 0.449);
}

.text {
  margin-bottom: 30px;
}

.text input {
  text-align: right;
  font-weight: 500;
  font-size: 32px;
  padding: 15px;
  width: 100%;
  border: none;
  height: 80px;
  background-color: rgba(159, 189, 183, 0.307);
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.366);
  border-radius: 15px;
}

.text p {
  font-size: 50px;
  text-align: end;
  padding-right: 20px;
  background: rgba(69, 129, 114, 0.449);
  color: black;
  border: 2px rgb(188, 219, 232);
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(188, 219, 232);
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

button {
  background-color: rgba(38, 167, 124, 0.168);
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.366);
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

.equal {
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
  background: rgba(28, 220, 127, 0.442);
}

.operation {
  background: rgba(28, 220, 127, 0.442);
}

.oprn {
  background-color: rgba(35, 122, 80, 0.442);
  color: #000000;
}